.menuHeader{
    margin-bottom: 1.25em;
}
.menuSidebar{
    height: 100vh;
}
.menuSidebar ul li a{
    color: white !important;
}
.menuSidebar ul li a .bi{
    margin-right: 0.5rem!important;
}
.logoIcon{
    align-self: stretch;
}